<div class="container">
  <mat-card class="card">
    <form (ngSubmit)="doSubmitForm()">
    <mat-card-header><h1>Compose Email</h1> </mat-card-header>
    <mat-card-content>

      <mat-form-field  class="feild" appearance="outline">
        <mat-label>To</mat-label>
        <input name="to" [(ngModel)]="data.to" matInput>
      </mat-form-field>

      <mat-form-field  class="feild" appearance="outline">
        <mat-label>Subject</mat-label>
        <input name="subject" [(ngModel)]="data.subject" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width feild" appearance="outline">
        <mat-label>Enter Your Message</mat-label>
        <textarea name="message" [(ngModel)]="data.message" matInput placeholder="Hey , what are you doing guys ..." rows="5"></textarea>
      </mat-form-field>

    </mat-card-content>
      <div class="text-center">

          <mat-spinner *ngIf="!flag" style="margin: auto;width: 25px;height: 25px;"></mat-spinner>

        <button type="submit" mat-raised-button color="primary">Send</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
      </div>
    </form>
    <!-- {{data | json}} -->
  </mat-card>
</div>
